<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>DigiPad</title>
</head>
<body>
    
    <div class="draw_container">
        <div class="nav">
            <!-- Color options and buttons -->
            <div class="clr" data-clr="#000"></div>
            <div class="clr" data-clr="#EF626C"></div>
            <div class="clr" data-clr="#0000FF"></div>
            <div class="clr" data-clr="#643B9F"></div>
            <button class="type">TYPE</button>
            <button class="clear">CLEAR</button>
            <button class="save">SAVE</button>
        </div>
        <canvas id="canvas"></canvas>
        <textarea id="textInput" placeholder="Type here..." style="display: none;"></textarea>
    </div>

    <div class="image-upload">
        <input type="file" id="imageLoader" name="imageLoader" accept="image/*" />
    </div>
    <script src="/static/main.js"></script>
</body>
</html>
