<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>ScribbleSync</title>
</head>
<body>
    
    <div class="draw_container">
        <img src="/static/plant.svg" id="plant"/>
        <img src="/static/notebook.svg" id="notebook"/>
        <img src="/static/pencil.svg" id="pencil"/>
        <img src="/static/ruler.svg" id="ruler"/>

        <div class="nav">
            <!-- Color options and buttons -->
            <div class="clr" data-clr="#000"></div>
            <div class="clr" data-clr="#EF626C"></div>
            <div class="clr" data-clr="#0000FF"></div>
            <div class="clr" data-clr="#643B9F"></div>
            <button class="type">TYPE</button>
            <button class="clear">CLEAR</button>
            <button class="save">SAVE</button>
        </div>
        
        <div class="canvas_container">
            <canvas id="canvas"></canvas>
            <textarea id="textInput" placeholder="Type here..." style="display: none;"></textarea>
        </div>

        <div class="image-upload">
            <label for="imageLoader" id="fileInputLabel">Choose a file</label>
            <input type="file" id="imageLoader" name="imageLoader" accept="image/*" style="display: none;" />
        </div>
    </div>

    <div class="result_container">
        <div class="events">Events</div>
        <div class="notes">Notes</div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>
